---
# tasks file for install-docker

- name: Install Packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - ca-certificates
    - curl
    - gnupg

- name: Create keyrings dir
  file:
     path: /etc/apt/keyrings
     owner: "{{ user }}"
     group: "{{ group }}"
     mode: 0700
     state: directory

- name: Add Docker's official GPG key
  apt_key:
     url: https://download.docker.com/linux/ubuntu/gpg
     keyring: /etc/apt/keyrings/docker.gpg
     state: present

- name: Set up the repository
  apt_repository:
      repo: 'deb [arch={{ arch }} signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable'
      state: present
      filename: /etc/apt/sources.list.d/docker

- name: Install docker
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin
    - docker-compose
