---
# tasks file for prepare_server
- name: Gather facts from application srevers
  setup:
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ groups['application_servers'] }}"
  
- name: Install Packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - nginx

- name: Generate a Self Signed OpenSSL certificate
  block:
     - name: Generate an OpenSSL private key with a different size (2048 bits)
       openssl_privatekey:
          path: /etc/ssl/private/nginx-selfsigned.key
          size: 2048
     - name: Generate an OpenSSL Certificate Signing Request with Subject information
       openssl_csr:
          path: /etc/ssl/certs/nginx-selfsigned.csr
          privatekey_path: /etc/ssl/private/nginx-selfsigned.key
          country_name: "{{ country_name }}"
          organization_name: "{{ organization_name }}"
          email_address: "{{ email_address }}"
          common_name: "{{ common_name }}"  
     - name: Generate the csr and privatekey
       openssl_certificate:
          path: '/etc/ssl/certs/nginx-selfsigned.crt'
          privatekey_path: '/etc/ssl/private/nginx-selfsigned.key'
          csr_path: '/etc/ssl/certs/nginx-selfsigned.csr'
          provider: selfsigned
     - name: Generate DH Parameters with a different size (2048 bits)
       openssl_dhparam:
          path: '/etc/nginx/dhparam.pem'
          size: 2048
  rescue:
     - name: Print with errors
       debug:
          msg: 'Some error in Generate a Self Signed OpenSSL certificate'

- name: Configure the nginx
  block:
     - name: Copy j2 template with nginx conf
       template:
           src: 'nginx_conf.j2'
           dest: '/etc/nginx/sites-available/load_balance'
           owner: "{{ user }}"
           group: "{{ group }}"
           mode: 0644
     - name: Create a symbolic link to sites-enabled
       file:
           src: '/etc/nginx/sites-available/load_balance'
           dest: '/etc/nginx/sites-enabled/load_balance'
           owner: "{{ user }}"
           group: "{{ group }}"
           state: link
     - name: Copy self-signed.conf to snippets
       file:
           src: self-signed.conf
           dest: '/etc/nginx/snippets/self-signed.conf'
           owner: "{{ user }}"
           group: "{{ group }}"
           mode: 0644
     - name: Copy self-params.conf to snippets
       file:
           src: self-params.conf
           dest: '/etc/nginx/snippets/ssl-params.conf'
           owner: "{{ user }}"
           group: "{{ group }}"
           mode: 0644
     - name: Restart nginx
       service:
           name: nginx
           state: restarted
  rescue:
     - name: Print with errors
       debug:
          msg: 'Some error in Configure the nginx conf file'
