---
# handlers file for nginx-exporter
    - name: restart_nginx_exporter
      systemd:
         name: "{{ service_name }}" 
         state: restarted
         daemon_reload: yes
         enabled: yes
