global:
  scrape_interval:     15s

scrape_configs:

  - job_name: "load_balancer"
    static_configs:
    {% for host in groups['load_balancer'] %}
    - targets: ["{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:9100"]
    - targets: ["{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:9113"]
    {% endfor %}

  - job_name: "application_servers"
    static_configs:
    {% for host in groups['application_servers'] %}
    - targets: ["{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:9100"]
    - targets: ["{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:9113"]
    {% endfor %}

  - job_name: "monitoring"
    static_configs:
    {% for host in groups['monitoring'] %}
    - targets: ["{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:9100"]
    - targets: ["{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:9100"]
    {% endfor %}
