---
# tasks file for prepare_server

- name: Install Packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  loop:
    - default-jre
    - nginx

- name: Configure systemd unit for java application
  block:
    - name: Copy j2 template with systemd unit
      template:
            src: 'systemd_java_unit.j2'
            dest: '/etc/systemd/system/{{ service_name }}.service'
            user: "{{ user }}"
            group: "{{ group }}"
            mode: 0644
    - name: Set systemd unit enabled and started
      service:
            name: '{{ service_name }}.service'
            enabled: yes
            state: started
  rescue:
    - name: Print with errors
      debug:
        msg: 'Some error in Configure systemd unit for java application'

- name: Configure the nginx
  block:
     - name: Copy j2 template with nginx conf
       template:
           src: 'nginx_conf.j2'
           dest: '/etc/nginx/sites-available/java-app'
           user: "{{ user }}"
           group: "{{ group }}"
           mode: 0644
     - name: Create a symbolic link to sites-enabled
       file:
           src: '/etc/nginx/sites-available/java-app'
           dest: '/etc/nginx/sites-enabled/java-app'
           owner: "{{ user }}"
           group: "{{ group }}"
           state: link
     - name: Restart nginx
       service:
           name: nginx
           state: restarted
  rescue:
    - name: Print with errors
      debug:
        msg: 'Some error in Configure the nginx conf file'
