server {
    listen 8080;
    # Optionally: allow access only from localhost
    # listen 127.0.0.1:8080;
    listen {{ ansible_default_ipv4.address }};
    server_name _;

    location /status {
        stub_status;
    }
}
