# Unit Section
[Unit]
# Human Readable Description of the Service
Description=My Java driven simple service
# After=list of units that must be started before this unit works
After=syslog.target network.target

# Service Section
[Service]
# simple is the default value of Type, it is commonly left off
Type=simple
# User= sets the user, login shell, and home directory associated with this unit
User={{ user }}
# EnvironmentFile= points to the environment variables needed by the executable in this unit file
#EnvironmentFile=/home/ubuntu/todo-app.config
# ExecStart= the exact command, or application to be run when this unit starts
ExecStart=/usr/bin/java -jar {{ java-application_path }} SuccessExitStatus=143
# Restart= if the unit should restart after failing
Restart=always

# Install Section
[Install]
# WantedBy=multi-user.target is the command neccessary so this systemd unit can be enabled (which is what allows it to automatically start when the server boots up)
WantedBy=multi-user.target
